//initialize project utilities
@import "init/reset";
@import "init/breakpoints";
@import "init/functions";
@import "init/mixins";

// setup project variables
@import "setup/fontstyles";
@import "setup/variables";
@import "setup/base";
header{
    z-index: 100;
    div.nav{
        width: 100%;
        margin:2.5%;
        margin: 30px 0 15px;
        img{
            padding-left: 2.5%;
        }
        div.mobile_nav{
            display: none;
            position: absolute;
            left:90%;
            background-image: url(../images/menu-icon.png);
            width: 40px;
            height: 40px;
            background-size: cover;
            float: right;
            z-index: 100;
            ul{
                position: relative;
                top: 32px;
            }
        }
        ul{
            float:right;
            margin-right: 2.5%;

            li{
                display: inline-block;
                padding: 0 30px;
                a{
                    text-decoration: none;
                    color:$grey;
                    font-family: 'open sans';
                    font-size: em(14);
                    text-transform: uppercase;
                    font-weight: 600;
                    &.btn{
                        min-width: 140px;
                        color: white;
                    }
                }
            }
        }
    }
}
.home_hero{
    width: 100%;
    .image_holder{
        background-image: url('../images/hero.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .content{
        padding: 200px percentage(300/1400) 200px percentage(600/1400);
        h2{
            margin-bottom: 30px;
        }
        h4{
            margin-bottom: 30px;
        }
        a.inverse{
            margin-right: 20px;
        }
    }
}
.banner{
    box-sizing: border-box;
    padding: 0 percentage(100/1400);
    background-color: $tan;
    margin-bottom: 50px;
}
.products_holder{
    text-align: center;
    margin: 0 percentage(100/1400);
    div.view_all{
        width: 100%;
    }
    p{
        margin-bottom: 50px;
    }
    .product_row{

    }
    .prod{
        border: solid 1px $grey;
        border-radius: 15px;
        box-sizing: border-box;
        margin-bottom: 45px;
        @include GridMe(3, 5%, 0, (900:2, 400:1));
        img, .btn{
            margin-bottom: 40px;
        }
        h5, p{
            text-align: left;
            padding-left: 20px;
        }
        img{
            margin-top: 10px;
            min-height: 285px;
        }
        p{
            margin-bottom: 20px;
        }
    }

}
.form_content.full{
    padding: 50px 0 0 percentage(300/1400);
    height: 100%;
    .btn{
        text-align: center;
        margin-bottom: 50px;
    }
}
.form_content.create{
    height: 1300px;

}
.form_content{
    background-color: $tan;
    margin-bottom: 0;
    height: 700px;
    +.cta{
        margin-top: 0;
    }
    .left{
        border-right: solid 1px $orange;
    }
    .form_row{
        width: 100%;
        float: none
    }
    h3{
        width: 100%;
    }
    p{
        width: percentage(400/600);
        margin-bottom: 30px;
    }
    span{
        width: 100%;
        margin-bottom: 20px;
        font-family: 'Open Sans';
        font-size: em(18);
        line-height: em(28);
    }
    select{
        font-family: 'Open Sans';
        font-size: em(18);
        line-height: em(28);
        width: percentage(460/600);
        padding-left: 10px;
        margin-right: percentage(155/600);
        background-color: white;
        margin-bottom: 20px;
    }
    input[type="text"],input[type="password"]{
        font-family: 'Open Sans';
        font-size: em(18);
        line-height: em(28);
        width: percentage(445/600);
        padding-left: 10px;
        margin-right: percentage(155/600);
        background-color: white;
        margin-bottom: 20px;
    }
    .btn{
        margin-top: 20px;
    }
    .left,.right{
        padding:0 percentage(100/1400) 100px;
        margin-top: 100px;
        box-sizing: border-box;
        width: 50%;
        float: left;
    }

}
.cta{
    clear:both;
    margin-top: 60px;
    text-align: center;
    background-image: url('../images/cta.jpg');
    background-size: cover;
    box-sizing: border-box;
    padding: 35px 0;
    h3{
        display: inline-block;
        color: white;
    }
    a.btn.inverse{
        margin-left: 50px;
        display: inline-block;
        background-color: white;
    }
}
footer{
    background-color: $grey;

    width: 100%;
    div.nav{
        width: 100%;
        box-sizing: border-box;
        padding: 30px percentage(100/1400);
        img{
            padding-left: 2.5%;
        }
        ul{
            float:right;
            margin-right: 2.5%;

            li{
                display: inline-block;
                padding: 0 30px;
                a{
                    text-decoration: none;
                    color:white;
                    font-family: 'open sans';
                    font-size: em(14);
                    text-transform: uppercase;
                    font-weight: 600;
                    &.btn{
                        min-width: 140px;
                        color: white;
                    }
                }
            }
        }
    }

}
@media (max-width: 1050px){
    header{
        div.nav{
            ul{
                display: none;
            }
            div.mobile_nav{
                z-index: 100;
                display: block;
                ul{
                    display: none;

                }
                &:hover{
                    ul{
                        display: block;
                        width:300px;
                        box-sizing: border-box;
                        margin-top: 40px;
                        background-color: white;
                        text-align: center;
                        border-right: solid 2px $orange;
                        border-left: solid 2px $orange;
                        li{
                            display: block;
                            min-width:300px;
                            text-align: center;
                            padding: 20px 0;
                            border-bottom: solid 2px $orange;
                            box-sizing: border-box;
                            &:hover{
                                background-color: $orange;

                                a{
                                    color:white;
                                }

                            }
                            a{
                                &:hover{


                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .home_hero{
        text-align: center;
        .image_holder{
            background-image: none;
            background-color: $tan;
            .content{
                padding: percentage(300/1400);
                z-index: -1;
                h2{
                    z-index: -1;
                }
                .btn{
                    min-width: 200px;
                }
                a.inverse{
                    margin-right: 0;
                    margin-bottom: 20px;
                }
            }
        }
    }
    footer{
        text-align: center;
        div.nav{
            ul{
                display: none;
            }
        }
    }
}
@media (max-width:700px) {
    .form_content.full{
        box-sizing: border-box;
        height: 100%;
        padding: 50px;
    }
    .form_content.create{
        height: 1100px;
    }
    .form_content{
        height: 500px;
        text-align: center;
        p{
            width: 100%;
        }
        .left{
            border-right: none;
        }
        .left,.right{
            width: 100%;

        }
        input[type="text"], select, input[type="password"]{
            width: 100%;
            margin-right: 0;
        }
    }
}
@media (max-width: 600px) {
    .btn{
        min-width: 0;
    }
    h2{
        font-size: em(32);
    }
    h3{
        font-size: em(24);
    }

}
@media (max-width: 500px) {
    .cta{
        h3{
            font-size: em(16);
        }
        a.btn.inverse {
            margin-left: 0;
        }
    }

}
